:root {
  --bg-color: #d4efdf;
  --dark-blue: #191970;
}

html,
body {
  background-color: var(--bg-color);
  font-family: 'georgia', serif;
  color: var(--dark-blue);
  font-size: 16px;
  text-decoration: none;
}

button {
  text-decoration: underline;
}

.button-class {
  background-color: #e6fcfa;
  color: #17401f;
  border: 2px solid black;
  padding: 16px 32px;
  font-size: 18px;
  margin: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  border-radius: 300px;
  width: 200px;
}

.button-class:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.8;
  background-color: green;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.pokemon-logo {
  width: 20%;
  height: auto;
}

#pokemonModal {
  border-width: 0px;
  background: #fff;
  background-color: transparent;
  text-align: left;
  box-sizing: border-box;
  padding: 15px;
}

.modal-body,
.modal-header {
  background-color: #ffffe0;
}

.container {
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  display: flex;
}

header {
  margin: 0 auto;
  width: 1000px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196f3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type='text'] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type='text'] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type='text'] {
    border: 1px solid #ccc;
  }
}
