:root {
  --bg-color: #D4EFDF;
  --dark-blue: #191970
}

body {
  background-color: var(--bg-color);
  font-family: 'georgia', serif;
  color: var(--dark-blue);
  font-size: 16px;
  text-decoration: none;
}

.button-class {
  background-color: #e6fcfa;
  border: none;
  color: #17401f;
  padding: 16px 32px;
  font-size: 14px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
